version: '3.3'

services:
    bot:
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        container_name: ${BOT_NAME}
        links:
            - mongodb

